
.classToRight{
    float:right;
    border-top: #14cc35 1px dotted;
    border-right: #14cc35 2px dotted;
    border-left: #14cc35 2px dotted;
    border-bottom: #14cc35 4px dotted;
}

.classToHide{
    border-top: #4a76cc 1px dotted;
    border-right: #5b59cc 2px dotted;
    border-left: #5473cc 2px dotted;
    border-bottom: #4062cc 4px dotted;
}